.section-specialty {
  height: 330px;
  background: #fff;
  border: 1px solid red;
}

.slick-prev {
  border: 1px solid green !important;
  position: relative !important;
  left: 0 !important;
}
.slick-next {
  border: 1px solid green !important;
  right: 0 !important;
}
